NEXT_PUBLIC_SUPABASE_URL=https://ahewjncliytgfphaepbz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
DEMO_MODE=false
DEMO_STUDENT_EMAIL=
DEMO_STUDENT_PASSWORD=
DEMO_STAFF_EMAIL=
DEMO_STAFF_PASSWORD=
DEMO_COORDINATOR_EMAIL=
DEMO_COORDINATOR_PASSWORD=
DEMO_ADMIN_EMAIL=
DEMO_ADMIN_PASSWORD=
SUPABASE_PROJECT_REF=ahewjncliytgfphaepbz
POSTGRES_URL_NON_POOLING=
DEMO_LAB_STAFF_EMAIL=
DEMO_LAB_STAFF_PASSWORD=
